@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <a style="margin-top: 5px; margin-right: 10px;" href="/AdvertisementModel/Create"><button type="button" class="btn btn-secondary btn-sm">Dodaj ogłoszenie +</button></a>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Witaj, @Html.Raw(User.Identity.GetUserName())</a>
        <div class="dropdown-menu">
            <a href="/Home/UserDetails/" class="dropdown-item">Panel użytkownika</a>
            <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a>
    </div>
    </li>

</ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Zarejestruj się", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
        <li>@Html.ActionLink("Zaloguj się", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}
