@model IEnumerable<AdvertisingPortal.Models.CategoryModel>

@{
    ViewBag.Title = "Kategorie - Panel administracyjny";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <a href="/CategoryModel/Create/"><button type='button' class='btn btn-primary'>Dodaj kategorię</button></a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" width="150">
                ID
            </th>
            <th scope="col">
                Nazwa
            </th>
            <th scope="col">
                Rodzic
            </th>
            <th width="200"></th>
        </tr>
    </thead>

        @foreach (var item in Model) {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Parent)
                </td>
                <td>
                    <a href="/CategoryModel/Edit/@Html.DisplayFor(modelItem => item.ID)"><button type="button" class="btn btn-success btn-sm">Edytuj</button></a>
                    <a href="/CategoryModel/Delete/@Html.DisplayFor(modelItem => item.ID)"><button type="button" class="btn btn-success btn-sm">Usuń</button></a>
                </td>
            </tr>
        }
</table>