@model AdvertisingPortal.Models.CategoryModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

@if (ViewBag.Message != null) {
    Html.Raw("<h3>" + ViewBag.Message + "</h3>");
}
@if (ViewBag.Message == null) {
    using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <h2>Na pewno usunąć kategorię?</h2>
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> | 
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
}


