@model IEnumerable<AdvertisingPortal.Models.AdvertisementModel>

@{
    ViewBag.Title = "Home Page";
}

@if (!@User.Identity.IsAuthenticated) {
    <div class="jumbotron">
        <h1>Ogłoszenia</h1>
        <p class="lead">Portal z ogłoszeniami. Możesz zarejestrować się pod <a href="/Account/Register">tym</a> linkiem, aby dodać nowe ogłoszenie.</p>
    </div>
}

@if (ViewBag.display) {
    <h2>
        Ogłoszenia
    </h2>
    <table class="table">
        <tr>
            <th>
                Ogłoszenie
            </th>
            <th>
                Cena
            </th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.ActionLink(item.Title, "AdvertisementModel/Details", new { id = item.ID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                    @if (item.ToNegotiate == true) {
                        @Html.Raw(" do negocjacji");
                    }
                </td>
            </tr>
        }

    </table>
}
else {
    <center><h2>Brak ogłoszeń</h2></center>
}