@model IEnumerable<AdvertisingPortal.Models.AdvertisementModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<table class="table">
    <tr>
        <th>
            Ogłoszenie
        </th>
        <th>
            Cena
        </th>
    </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Title, "AdvertisementModel/Details", new { id = item.ID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
            @if(item.ToNegotiate == true) {
                @Html.Raw(" do negocjacji");
            }
        </td>
    </tr>
    }

</table>